:root{
    --red : #d83f3f;
    --blue : #7aaae2;
    --gray : #757373;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin: 0 auto;  
    max-width: 1280px;  
}

*{
    margin: 0;
}

button{
    all : unset;
    padding: 6px 16px;
    background: var(--blue);
    height: 32px;
    color: white;
    font-weight: 500;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero {
    display: flex;
    align-items: center;
    height:calc(100vh - 72px);
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero h1{
    font-weight: 800;
    line-height: 80px;
    font-size: 70px;
}

.hero p{
    font-weight: 600;
    color: var(--gray);
    max-width: 400px;
}

.hero-btn{
    display: flex;
    gap: 40px;
}

.hero-btn button{
    font-size: 24px;
}

.secondary-btn{
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;
}

.shopping{
    font-size: 14px;
    margin-bottom: 8px;
}
.platform{
    display: flex;
    gap: 16px;
}

.logo-image{
    width: 100px;
    height: auto;
    margin-top: 18px;
}

.hip_image{
    width: 30px;
}